body,h1{
  margin: 0;
}
body,html{
  height: 100%;
}
body#vulcao-n{
  background-color: #200001;
}
body#tect-n{
  background-color: #0f1e25;
}

  /* IMAGENS */
 main{
    background-size: cover;
    background-position: center center;
  }
  #inicial{
    background-image: url(imgs/fundo/guy-forest-green.jpg);
  }
  #vulcao{
    background-image: url(imgs/fundo/guy-forest-yellow.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
  #creditos{
    background-image: url(imgs/fundo/lake.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
  #primeira-pag{
    background-image: url(imgs/fundo/lake.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
}
 #tectonismo{
    background-image: url(imgs/fundo/guy-forest-green.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
  }

  .direita{
    float: right;
    margin: 0 2.5em;
  }
  .esquerda{
      float: left;
      margin: 0 2.5em;
  }

section{
  width: 700px;
  font-family: 'Source Code Pro',monospace;
  font-size: 20px;
  color :white;
  text-align: justify;
}
a:active{
  position: relative;
  top: 1px;
}

img.pagina-principal{
  border-radius: 50%;
  width: 319px;
}

img:hover{
  transform: scale(1.1);
  transition: cubic-bezier(0.55, 0.06, 0.68, 0.19) 0.1s;
}
.conteudo:hover h1{
  opacity: 1;
} 
main ul{
  position: absolute;
  top: 50%;
  margin-top: -159.5px;
}
li.conteudo{
  display: inline-block;
  list-style: none;
  margin: 0 1em;
  
}
li.conteudo h1{
  text-align: center;
  font-family: "Amatica SC", sans-serif;
  font-size: 50px;
  color: white;
  transition: linear 0.2s;
  opacity: 0;
}

a#retorna {
  font-family: 'Source Code Pro',monospace;
  color :white;
}
img#vulcao-explicado{
  border-radius: 50px;
  width: 319px; 
  float: right;
  padding: 2.5em;
}
#logo{
  padding: 2.5em;
  text-align: center;
  font-family: "Amatica SC", sans-serif;
  color: white;
  font-size: 20px;
}